[submodule "lib/Adafruit_BME280_Library"]
	path = lib/Adafruit_BME280_Library
	url = https://github.com/adafruit/Adafruit_BME280_Library
[submodule "lib/IRremoteESP8266"]
	path = lib/IRremoteESP8266
	url = https://github.com/crankyoldgit/IRremoteESP8266
[submodule "lib/pubsubclient"]
	path = lib/pubsubclient
	url = https://github.com/knolleary/pubsubclient
[submodule "lib/MAX44009"]
	path = lib/MAX44009
	url = https://github.com/dantudose/MAX44009
[submodule "lib/ArduinoJson"]
	path = lib/ArduinoJson
	url = https://github.com/bblanchon/ArduinoJson
